/* reset */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:where([hidden]:not([hidden="until-found"])) {
	display: none;
}

:where(html) {
	color-scheme: dark light;
	tab-size: 2;
	scrollbar-gutter: stable;
	interpolate-size: allow-keywords;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

:where(html:has(dialog:modal[open])) {
	overflow: clip;
}

@media (prefers-reduced-motion: no-preference) {
	:where(html:focus-within) {
		scroll-behavior: smooth;
	}
}

:where(body) {
	line-height: inherit;
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
}

:where(main) {
	display: block;
}

:where(header, footer, main, section, article) {
	container-type: inline-size;
}

:where(button) {
	all: unset;
}

:where(input, button, textarea, select) {
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
}

:where(textarea) {
	resize: vertical block;
}

:where(button, label, select, summary, [role="button"], [role="option"]) {
	cursor: pointer;
}

:where(button, select) {
	text-transform: none;
}

:where(button, [type="button"], [type="reset"], [type="submit"]) {
	-webkit-appearance: button;
}

:where(button, input, optgroup, select, textarea) {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

:where(
		button::-moz-focus-inner,
		[type="button"]::-moz-focus-inner,
		[type="reset"]::-moz-focus-inner,
		[type="submit"]::-moz-focus-inner
	) {
	border-style: none;
	padding: 0;
}

:where(
		button:-moz-focusring,
		[type="button"]:-moz-focusring,
		[type="reset"]:-moz-focusring,
		[type="submit"]:-moz-focusring
	) {
	outline: 1px dotted ButtonText;
}

:where(fieldset) {
	padding: 0.35em 0.75em 0.625em;
}

:where(progress) {
	vertical-align: baseline;
}
:where(details) {
	display: block;
}
:where(summary) {
	display: list-item;
}

:where(:disabled, label:has(> :disabled)) {
	cursor: not-allowed;
}

:where(a) {
	color: inherit;
	text-underline-offset: 0.2ex;
}

:where(ul, ol) {
	list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
	display: block;
}

:where(img, picture, svg, video) {
	max-inline-size: 100%;
	block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
	overflow-wrap: break-word;
}

:where(p, li, figcaption) {
	max-width: 90ch;
	text-wrap: pretty;
}

:where(h1, h2, h3) {
	line-height: calc(1em + 0.5rem);
}

:where(h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
}

:where(hr) {
	border: none;
	border-block-start: 1px solid;
	color: inherit;
	block-size: 0;
	overflow: visible;
	box-sizing: content-box;
	height: 0;
}

:where(pre) {
	font-family: monospace;
	font-size: 1em;
}

:where(code, kbd, samp) {
	font-family: monospace;
	font-size: 1em;
}

:where(sub, sup) {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
:where(sub) {
	bottom: -0.25em;
}

:where(sup) {
	top: -0.5em;
}

:where(dialog, [popover]) {
	border: none;
	background: none;
	color: inherit;
	inset: unset;
	max-width: unset;
	max-height: unset;
	overflow: unset;
}

:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
	display: none;
}

:where(:focus-visible) {
	outline: 3px solid CanvasText;
	box-shadow: 0 0 0 5px Canvas;
	outline-offset: 1px;
}

:where(:focus-visible, :target) {
	scroll-margin-block: 8vh;
}

:where(.visually-hidden:not(:focus-within, :active)) {
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	border: 0;
	user-select: none;
}

/* color + typography  */

/* diatype semi-mono variable */
@font-face {
    font-family: 'Diatype Semi-Mono';
    font-style: normal;
    font-display: swap;
    src: url(../assets/fonts/ABCDiatypeSemi-MonoVariableEdu-Regular.woff2);
}

/* spectral-latin-500-normal */
@font-face {
  font-family: 'Spectral 500';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/spectral@latest/latin-500-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* spectral-latin-800-normal */
@font-face {
  font-family: 'Spectral 800';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/spectral@latest/latin-800-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* spectral-latin-500-italic */
@font-face {
  font-family: 'Spectral Ital 500';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/spectral@latest/latin-500-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* spectral-latin-800-italic */
@font-face {
  font-family: 'Spectral Ital 800';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/spectral@latest/latin-800-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* fjalla-one-latin-400-normal */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/fjalla-one@latest/latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
	--f-spectral-med: 'Spectral 500', system-ui;
	--f-spectral-bold: 'Spectral 800', system-ui;
	--f-spectral-medital: 'Spectral Ital 500', system-ui;
	--f-spectral-boldital: 'Spectral Ital 800', system-ui;
	--f-fjalla: 'Fjalla One', system-ui;
	--f-diatype: 'Diatype Semi-Mono', system-ui;
	--c-dkblue: oklch(0.178 0.0307 263.05);
	--c-mustard: oklch(0.8234 0.1428 73.43);
	--c-neonyellow: oklch(0.9576 0.2086 113.79);
	--c-jetstream: oklch(0.9065 0.0307 183.63);
	--c-seafoam: oklch(55% 14% 205deg);
	--c-indigo: oklch(41% 43% 270deg);
	--c-lavender: oklch(72% 27% 293deg);
	--c-madder: oklch(41% 41% 24deg);
	--c-pinkish: oklch(74% 38% 20deg);
	--c-goldenrod: oklch(82% 42% 91deg);
	--c-onyx: oklch(25% 12% 108deg);
	/* @link https://utopia.fyi/type/calculator?c=360,16,1.333,1600,24,1.333,2,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step-0: clamp(1rem, 0.8548rem + 0.6452vw, 1.5rem);
    --step-1: clamp(1.333rem, 1.1395rem + 0.86vw, 1.9995rem);
    --step-2: clamp(1.7769rem, 1.519rem + 1.1464vw, 2.6653rem);
}
