---
import Navigation from "../components/Navigation.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.css";
---

<MainLayout>
    <Navigation />
    <main>
        <h2>
            A New Internet Home for the Weavers Guild of Minnesota - References
        </h2>
        <div class="references-wrapper">
            <ul>
                <li>
                    Boxhall, Alice. “A Threat Model for Accessibility on the
                    Web.” Accessed October 4, 2025.
                    <a
                        href="https://alice.boxhall.au/articles/a-threat-model-for-accessibility-on-the-web/"
                        target="_blank"
                        >https://alice.boxhall.au/articles/a-threat-model-for-accessibility-on-the-web/</a
                    >
                </li>
                <li>
                    Chidlow, Declan (Piccalilli). “Some Practical Examples of
                    View Transitions to Elevate Your UI.” Accessed November 7,
                    2025.
                    <a
                        href="https://piccalil.li/blog/some-practical-examples-of-view-transitions-to-elevate-your-ui/"
                        target="_blank"
                        >https://piccalil.li/blog/some-practical-examples-of-view-transitions-to-elevate-your-ui/</a
                    >
                </li>
                <li>
                    Coyier, Chris (Frontend Masters). “Breakpoint Columns, Five
                    Ways. Which Do You Like?” Accessed October 30, 2025.
                    <a
                        href="https://frontendmasters.com/blog/breakpoint-columns-five-ways-which-do-you-like/"
                        target="_blank"
                        >https://frontendmasters.com/blog/breakpoint-columns-five-ways-which-do-you-like/</a
                    >
                </li>
                <li>
                    Coyier, Chris (Piccalilli). “The Coyier CSS Starter.”
                    Accessed September 30, 2025. <a
                        href="https://piccalil.li/links/the-coyier-css-starter/"
                        target="_blank"
                        >https://piccalil.li/links/the-coyier-css-starter/</a
                    >
                </li>
                <li>
                    Coyier, Chris (Frontend Masters). “Web Design: What is the
                    Web Capable of that is Hard to Express in Design Software?.”
                    Accessed September 22, 2025. <a
                        href="https://frontendmasters.com/blog/web-design-what-is-the-web-capable-of-that-is-hard-to-express-in-design-software/"
                        target="_blank"
                        >https://frontendmasters.com/blog/web-design-what-is-the-web-capable-of-that-is-hard-to-express-in-design-software/</a
                    >
                </li>
                <li>
                    Daybreak Studio. “A New (or Rather, Old) Approach to
                    Typography on the Web.” Accessed October 27, 2025. <a
                        href="https://www.daybreak.studio/writing/adaline-typography"
                        target="_blank"
                        >https://www.daybreak.studio/writing/adaline-typography</a
                    >
                </li>
                <li>
                    DDEV. “DDEV.” Accessed October 27, 2025. <a
                        href="https://ddev.com/"
                        target="_blank">https://ddev.com/</a
                    >
                </li>
                <li>
                    DebugBear. “How to Improve Website Performance: A Detailed
                    Guide.” Accessed October 27, 2025. <a
                        href="https://www.debugbear.com/blog/improve-website-performance"
                        target="_blank"
                        >https://www.debugbear.com/blog/improve-website-performance</a
                    >
                </li>
                <li>
                    Dransfeldt, Cory. “Go Ahead and Block AI Crawlers.” Accessed
                    September 28, 2025. <a
                        href="https://www.coryd.dev/posts/2024/go-ahead-and-block-ai-web-crawlers"
                        target="_blank"
                        >https://www.coryd.dev/posts/2024/go-ahead-and-block-ai-web-crawlers</a
                    >
                </li>
                <li>
                    Elvasky, Frank. “Design for All: Reading Between the Lines.”
                    Accessed September 28, 2025. <a
                        href="https://www.frank.computer/blog/2025/05/for-all.html"
                        target="_blank"
                        >https://www.frank.computer/blog/2025/05/for-all.html</a
                    >
                </li>
                <li>
                    Freiberg, Rauno. “Web Interface Guidelines.” Accessed
                    September 10, 2025. <a
                        href="https://interfaces.rauno.me/"
                        target="_blank">https://interfaces.rauno.me/</a
                    >
                </li>
                <li>
                    Günther, Thomas. “Accessibility No-Brainers.” Accessed
                    November 4, 2025. <a
                        href="https://medienbaecker.com/articles/accessibility-no-brainers"
                        target="_blank"
                        >https://medienbaecker.com/articles/accessibility-no-brainers</a
                    >
                </li>
                <li>
                    Hobday, Anthony. “Visual Design Techniques.” Accessed
                    September 10, 2025. <a
                        href="https://anthonyhobday.com/sideprojects/visualtechniques/"
                        target="_blank"
                        >https://anthonyhobday.com/sideprojects/visualtechniques/</a
                    >
                </li>
                <li>
                    Hughes, Laurence (Fuzzy Logic). “How I Subset Web Fonts.”
                    Accessed October 22, 2025. <a
                        href="https://fuzzylogic.me/posts/how-i-subset-web-fonts/"
                        target="_blank"
                        >https://fuzzylogic.me/posts/how-i-subset-web-fonts/</a
                    >
                </li>
                <li>
                    Inclusive Design Principles. “Inclusive Design Principles.”
                    Accessed September 10, 2025. <a
                        href="https://inclusivedesignprinciples.info/"
                        target="_blank"
                        >https://inclusivedesignprinciples.info/</a
                    >
                </li>
                <li>
                    Jainapur, Aditya (TGPi). “What State ARIA In?” Accessed
                    October 27, 2025. <a
                        href="https://www.tpgi.com/what-state-aria-in/"
                        target="_blank"
                        >https://www.tpgi.com/what-state-aria-in/</a
                    >
                </li>
                <li>
                    Jarosz, Wiktor. “WordPress Deep Dive.” Accessed November 3,
                    2025. <a
                        href="https://wiktorjarosz.com/wordpress/introduction/"
                        target="_blank"
                        >https://wiktorjarosz.com/wordpress/introduction/</a
                    >
                </li>
                <li>
                    Kalbag, Laura (Penpot). “How to Optimize SVG Files: A
                    Complete Guide for Beginners.” Accessed September 27, 2025. <a
                        href="https://penpot.app/blog/how-to-optimize-svg-files-a-complete-guide-for-beginners/"
                        target="_blank"
                        >https://penpot.app/blog/how-to-optimize-svg-files-a-complete-guide-for-beginners/</a
                    >
                </li>
                <li>
                    Nielsen, Jim. “Browser APIs: The Web’s Free Saas.” Accessed
                    November 4, 2025. <a
                        href="https://blog.jim-nielsen.com/2025/browser-apis-as-sass/"
                        target="_blank"
                        >https://blog.jim-nielsen.com/2025/browser-apis-as-sass/</a
                    >
                </li>
                <li>
                    Nielsen, Jim. “Write Code That Runs in the Browser, or Write
                    Code the Browser Runs.” Accessed October 22, 2025. <a
                        href="https://blog.jim-nielsen.com/2025/more-control-equals-less-performance/"
                        target="_blank"
                        >https://blog.jim-nielsen.com/2025/more-control-equals-less-performance/</a
                    >
                </li>
                <li>
                    Olana, Jesús (Electric Magic Factory). “Interactive Fluid
                    Typography.” Accessed November 8, 2025. <a
                        href="https://electricmagicfactory.com/articles/interactive-fluid-typography/"
                        target="_blank"
                        >https://electricmagicfactory.com/articles/interactive-fluid-typography/</a
                    >
                </li>
                <li>
                    Ott, Matthias. “Compressed Fluid Type.” Accessed October 15,
                    2025. <a
                        href="https://matthiasott.com/notes/compressed-fluid-typography"
                        target="_blank"
                        >https://matthiasott.com/notes/compressed-fluid-typography</a
                    >
                </li>
                <li>
                    Pangram Pangram Foundry. “A Practical Guide to Alternate
                    Characters and OpenType Features.” Accessed October 25,
                    2025. <a
                        href="https://pangrampangram.com/blogs/journal/opentype-features"
                        target="_blank"
                        >https://pangrampangram.com/blogs/journal/opentype-features</a
                    >
                </li>
                <li>
                    Powell, Kevin (Piccalilli). “A Pragmatic Guide to CSS
                    Colours - Part One.” Accessed October 8, 2025. <a
                        href="https://piccalil.li/blog/a-pragmatic-guide-to-modern-css-colours-part-one/"
                        target="_blank"
                        >https://piccalil.li/blog/a-pragmatic-guide-to-modern-css-colours-part-one/</a
                    >
                </li>
                <li>
                    Rada, Lean. “Minimal CSS-only Blurry Image Placholders.”
                    Accessed September 18, 2025. <a
                        href="https://leanrada.com/notes/css-only-lqip/"
                        target="_blank"
                        >https://leanrada.com/notes/css-only-lqip/</a
                    >
                </li>
                <li>
                    Shadeed, Ahmad. “Solved by Modern CSS: Section Layout.”
                    Accessed October 27, 2025. <a
                        href="https://ishadeed.com/article/modern-css-section-layout/"
                        target="_blank"
                        >https://ishadeed.com/article/modern-css-section-layout/</a
                    >
                </li>
                <li>
                    US Forest Service. “Native Plant Dyes.” Accessed September
                    18, 2025. <a
                        href="https://www.fs.usda.gov/wildflowers/ethnobotany/dyes.shtml"
                        target="_blank"
                        >https://www.fs.usda.gov/wildflowers/ethnobotany/dyes.shtml</a
                    >
                </li>
                <li>
                    Vis, Dirk. <span
                        >Research for People Who Think They Would Rather Create</span
                    >. Onomatopee, 2022.
                </li>
                <li>
                    WordPress. “Advanced Administration Handbook.” Accessed
                    October 16, 2025. <a
                        href="https://developer.wordpress.org/advanced-administration/"
                        target="_blank"
                        >https://developer.wordpress.org/advanced-administration/</a
                    >
                </li>
                <li>
                    WordPress. “Block Editor Handbook.” Accessed October 16,
                    2025. <a
                        href="https://developer.wordpress.org/block-editor/"
                        target="_blank"
                        >https://developer.wordpress.org/block-editor/</a
                    >
                </li>
                <li>
                    WordPress. “Codex.” Accessed October 16, 2025. <a
                        href="https://codex.wordpress.org/Main_Page"
                        target="_blank">https://codex.wordpress.org/Main_Page</a
                    >
                </li>
                <li>
                    WordPress. “Developer Resources.” Accessed October 16, 2025. <a
                        href="https://developer.wordpress.org/"
                        target="_blank">https://developer.wordpress.org/</a
                    >
                </li>
                <li>
                    WordPress. “Documentation.” Accessed October 16, 2025. <a
                        href="https://wordpress.org/documentation/"
                        target="_blank">https://wordpress.org/documentation/</a
                    >
                </li>
                <li>
                    World Wide Web Consortium. “ARIA in HTML.” Accessed October
                    16, 2025. <a
                        href="https://www.w3.org/TR/html-aria/"
                        target="_blank">https://www.w3.org/TR/html-aria/</a
                    >
                </li>
                <li>
                    World Wide Web Consortium. “Web Content Accessibility
                    Guidelines.” Accessed October 16, 2025. <a
                        href="https://www.w3.org/TR/WCAG22/"
                        target="_blank">https://www.w3.org/TR/WCAG22/</a
                    >
                </li>
            </ul>
        </div>
    </main>
    <Footer />
</MainLayout>

<style>
    html {
        background: var(--hdr-gradient);
    }
    main {
        padding: 0 1rem;
    }
    h2 {
        font-family: var(--f-fjalla);
        font-size: 2rem;
        color: var(--c-dkblue);
        margin: 1rem 0;
    }
    .references-wrapper {
        padding: 0 1rem 2rem 1rem;
        border-bottom: 2px dashed var(--c-dkblue);
    }
    .references-wrapper ul {
        display: flex;
        flex-direction: column;
        gap: 1.35rem;
        /*max-width: 110ch;*/
        & li {
            font-family: var(--f-diatype);
            font-weight: 500;
            font-size: 1.35rem;
            line-height: 1.35;
            color: var(--c-dkblue);
            & a {
                text-decoration: underline dashed var(--c-neonyellow) 2px;
                text-underline-offset: 4px;
                &:hover {
                    color: var(--c-neonyellow);
                }
                &::after {
                    content: " \1F86D";
                }
            }
            & span {
                font-style: italic;
            }
        }
    }
</style>
