---
import "../styles/main.css";
---

<div class="divider">
    <svg width="800" height="40">
        <line stroke="#000831" stroke-width="5" x1="50" x2="750" y1="20" y2="20"
        ></line>
        <circle fill="#b5d1cc" cx="400" cy="20" r="10"></circle>
    </svg>
</div>

<style>
    .divider {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
