---
import "../styles/main.css";
---

<p>&copy; 2025 Morgen Ruff</p>

<style>
    p {
        margin: 0 auto;
        text-align: center;
        padding: 1rem;
        font-family: var(--f-fjalla);
        font-size: 1.3rem;
        color: var(--c-dkblue);
    }
</style>
