---
import "../styles/main.css";
---

<p>&copy; 2025 Morgen Ruff</p>

<style>
    p {
        padding: 1rem;
        font-family: var(--f-fjalla);
        font-size: 2rem;
        color: var(--c-dkblue);
    }
</style>
