---
import "../styles/main.css";
---

<div class="footer">
    <p>&copy; 2025 Morgen Ruff</p>
</div>

<style>
    .footer {
        background: var(--c-lavender);
    }
    p {
        padding: 1rem;
        font-family: var(--f-fjalla);
        font-size: var(--step-0);
        color: var(--c-onyx);
    }
</style>
