---
import "../styles/main.css";
import Divider from "../components/Divider.astro";
import { Image } from "astro:assets";
import videoSlide from "../assets/images/video-slide.png";
---

<div id="container">
    <main>
        <div class="intro">
            <p class="title">
                A New Internet Home for the Weavers Guild of Minnesota
            </p>
            <div class="intro-text">
                <p class="name">Morgen Ruff</p>
                <p class="program">MCAD Master's in Graphic &amp; Web Design</p>
                <p class="date">Fall 2025</p>
                <p class="hook">
                    A robust digital and physical presence for the
                    Minneapolis-based Weavers Guild of Minnesota, encapsulating
                    web, print, and in-person materials to create an engaging
                    and welcoming overall brand and experience.
                </p>
                <p class="description">
                    The Weavers Guild of Minnesota (WGM), a nonprofit
                    organization based in Minneapolis and founded in 1940 by
                    textile weaver and artist Hilma Berglund, occupies am unique
                    place within the art/craft landscape in the US. Offering
                    robust, year-round classes & workshops on many handmade
                    textile weaving, spinning, and dyeing methods, WGM is a
                    critical lifeline in the fight against industrial textile
                    processes and consumption patterns that play a large part in
                    advancing climate crisis.
                </p>
                <p class="description">
                    The problem: WGM has a currently lackluster web presence.
                    Designed and developed in the mid-2010s, the Wordpress-based
                    site serves its purpose of communicating basic information
                    about WGM, but doesn’t do much to inspire its audience,
                    rather focusing on utilitarian content. WGM needs to put its
                    best foot forward in its communications to continue playing
                    its vital role for another 85 years. I’m inspired by
                    like-minded organizations, e.g. the American Swedish
                    Institute, Penland School of Craft, and Wildcraft Studio
                    School.
                </p>
            </div>
        </div>
        <Divider />
        <div class="video">
            <Image
                src={videoSlide}
                alt="Yellow textured slide with the word video in the center."
            />
            <Image
                src={videoSlide}
                alt="Yellow textured slide with the word video in the center."
            />
        </div>
    </main>
    <Divider />
    <div class="narrative">
        <p class="narrative"></p>
    </div>
    <Divider />
    <div class="process">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
    </div>
    <!-- whatever else -->
</div>

<style>
    #container {
        height: 100%;
    }
    main {
        padding: 1rem;
    }
    .divider {
        text-align: center;
    }
    .intro {
        display: grid;
        grid-template-columns: clamp(400px, 50%, fit-content) 1fr;
        gap: 1rem;
        grid-template-areas:
            "title intro"
            "title intro"
            "title intro";
    }
    .title {
        font-family: var(--f-fjalla);
        font-size: 2rem;
        color: var(--c-dkblue);
        grid-area: title;
    }
    .intro-text {
        display: grid;
        gap: 1rem;
    }
    .name,
    .program,
    .date {
        font-family: var(--f-fjalla);
        font-size: 1.5rem;
        color: var(--c-dkblue);
    }
    .hook,
    .description {
        font-family: var(--f-spectral-med);
        font-size: 1.1rem;
        color: var(--c-dkblue);
    }
    .video {
        display: grid;
        grid-template-areas: "video1 video2";
        gap: 0.5rem;
        & img {
            margin: 1rem 0;
        }
    }
</style>
