---
import "../styles/main.css";
---

<nav>
    <ul>
        <li><a href="">Case Study</a></li>
        <li><a href="">Progress Platform</a></li>
        <li><a href="">Research Archive</a></li>
        <li><a href="">Live WGM Site</a></li>
    </ul>
</nav>

<style>
    nav {
        padding: 1rem;
    }
</style>
