---
import "../styles/main.css";
---

<nav>
    <h1>
        <a href="/mcad-capstone-site">&#x26FA;</a>
    </h1>
    <ul>
        <li>
            <a
                href="https://morgenruff.github.io/mcad-capstone-progress-platform/"
                >Progress Platform/Archive</a
            >
        </li>
        <li><a href="/mcad-capstone-site/references/">References</a></li>
        <li><a href="https://weaversguildmn.org">WGM Site</a></li>
    </ul>
</nav>

<style>
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: var(--step-1) var(--step-0);
        color: var(--c-onyx);
        font-family: var(--f-fjalla);
        font-size: var(--step-0);
        line-height: var(--step-0);
        border-block-end: 1px solid var(--c-onyx);
        background: var(--c-lavender);
        /*position: fixed;*/
    }
    h1 {
        font-size: var(--step-0);
    }
    ul {
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
        align-items: center;
        }
    a {
        text-decoration: none;
        padding: 0.75rem;
        border-radius: 1rem;
        border: 1px solid var(--c-onyx);
        &:hover {
            background-color: var(--c-goldenrod);
        }
</style>
