---
import "../styles/main.css";
---

<nav>
    <h1>
        <a href="#">&#x26FA;</a>
    </h1>
    <ul>
        <li>
            <a
                href="https://morgenruff.github.io/mcad-capstone-progress-platform/"
                >Progress Platform & Research Archive</a
            >
        </li>
        <li><a href="https://weaversguildmn.org">Live WGM Site</a></li>
    </ul>
</nav>

<style>
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        color: var(--c-dkblue);
        font-family: var(--f-fjalla);
        font-size: 1.35rem;
        line-height: 1.35;
        border-block-end: 2px dashed var(--c-dkblue);
        /*position: fixed;*/
    }
    h1 {
        font-size: 1.3rem;
        font-weight: 400;
    }
    ul {
        display: flex;
        gap: 1rem;
        text-decoration: none;
        align-items: center;
        }
    a {
        text-decoration: none;
        padding: 0.75rem;
        border-radius: 12px;
        border: 1px dashed var(--c-dkblue);
        &:hover {
            background-color: var(--c-neonyellow);
        }
</style>
