---
import "../styles/main.css";
---

<div id="container">
    <main>
        <p class="fpo">FPO</p>
    </main>
</div>

<style>
    #container {
        height: 100%;
    }

    main {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fpo {
        font-family: var(--f-banana);
        font-size: 40rem;
        color: var(--c-dkblue);
        text-align: center;
    }
</style>
